.list-group {
    list-style: none;
    margin: 5px;
    padding: 0px;
    text-indent: 5px;
}

.list-group-item {
    color: black;
    background-color: rgb(39, 107, 255);
}

.list-group-item-active {
    color: black;
    background-color: #d632ff;

}

.grid-container {
    display: grid;
    grid-template-columns: 12% 12% 12% 20% 20% 20%;
    gap: 10px;
    /* background-color: #2196F3; */
    padding: 0px;
    font-size: 24px;
    text-align: left;
    vertical-align: top;
}

.grid-item-wide {
    grid-column: span 3;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.grid-item-small {
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.grid-item-wide-header {
    grid-column: span 3;
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    font-weight: bold;
}

.grid-item-small-header {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    font-weight: bold;
}